<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ПанСтакан</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Mulish&family=Open+Sans&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="../css/index.css" />
        <link rel="stylesheet" href="../css/item-not.css" />
        <link rel="stylesheet" href="../css/rating-star.css" />
        <link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="stylesheet" href="../css/footer.css" />
        <link rel="stylesheet" href="../css/chek-list.css" />
    </head>
    <body>
        <header>
            <div class="header">
                <div class="header__top">
                    <div>
                        <a href="../index.html"
                            ><img
                                class="header__logo"
                                src="../pictures/png/logologo.png"
                                alt="logo"
                        /></a>
                    </div>
                    <div class="header__search">
                        <input class="header__input" type="text" />
                        <button class="header__search_button" type="button">
                            <img
                                class="header__search--s"
                                src="../pictures/svg/search.svg"
                                alt="search"
                            />
                        </button>
                    </div>
                    <div class="header__right">
                        <div class="header__mail header__contact">
                            <a href="mailto:brand.panstakan@gmail.com"
                                ><img
                                    class="header__mail--svg"
                                    src="../pictures/svg/mail.svg"
                                    alt="mail"
                            /></a>
                            <a
                                class="header__mail--flex"
                                href="mailto:brand.panstakan@gmail.com"
                                ><span class="header__mail--email"
                                    >E-mail:
                                </span>
                                <span class="header__mail--name"
                                    >brand.panstakan@gmail.com</span
                                ></a
                            >
                        </div>
                        <div class="header__favorite header__contact">
                            <a href=""
                                ><img
                                    class="header__favorite--svg"
                                    src="../pictures/svg/favorite.svg"
                                    alt="favorites"
                            /></a>
                        </div>
                        <div class="header__basket header__contact">
                            <a href="../components/basket.html">
                                <img
                                    class="header__basket--svg"
                                    src="../pictures/svg/basket.svg"
                                    alt="basket"
                                />
                                <span class="basket-counter">+</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header__nav">
                    <nav>
                        <!-- Бургер-иконка -->

                        <img
                            src="../pictures/svg/burger.svg"
                            alt=""
                            id="burger-icon"
                        />

                        <!-- Бургер-меню -->
                        <div id="burger-menu">
                            <ul class="header__link">
                                <li>
                                    <a
                                        class="header__link--title"
                                        href="../components/catalog.html"
                                        >Каталог</a
                                    >
                                </li>
                                <li>
                                    <a class="header__link--title" href="../components/category.html"
                                        >Акції</a
                                    >
                                </li>
                                <li>
                                    <a class="header__link--title" href=""
                                        >Про нас</a
                                    >
                                </li>
                                <li>
                                    <a class="header__link--title" href="../components/price.html"
                                        >Прайс</a
                                    >
                                </li>
                                <li>
                                    <a class="header__link--title" href="../components/contacts.html"
                                        >Контакти</a
                                    >
                                </li>
                            </ul>
                            <!-- Кнопка закрытия меню -->
                            <div id="close-btn">&times;</div>
                        </div>

                        <ul class="header__link" id="menu">
                            <li>
                                <a
                                    class="header__link--title"
                                    href="../components/catalog.html"
                                    >Каталог</a
                                >
                            </li>
                            <li>
                                <a class="header__link--title" href="../components/category.html">Акції</a>
                            </li>
                            <li>
                                <a class="header__link--title" href=""
                                    >Про нас</a
                                >
                            </li>
                            <li>
                                <a class="header__link--title" href="../components/price.html">Прайс</a>
                            </li>
                            <li>
                                <a class="header__link--title" href="../components/contacts.html"
                                    >Контакти</a
                                >
                            </li>
                        </ul>
                    </nav>

                    <ul class="header__options">
                        <li>
                            <select class="header__select">
                                2
                                <option value="">Мова</option>
                                3
                                <option value="1">Два</option>
                                4
                                <option value="2">Три</option>
                                5
                            </select>
                        </li>
                        <li>
                            <select class="header__select">
                                2
                                <option value="1">Валюта</option>
                                3
                                <option value="2">Два</option>
                                4
                                <option value="3">Три</option>
                                5
                            </select>
                        </li>
                        <li>
                            <select class="header__select">
                                2
                                <option value="">Профіль</option>
                                3
                                <option value="1">Два</option>
                                4
                                <option value="2">Три</option>
                                5
                            </select>
                        </li>
                    </ul>
                    <ul class="nav-button">
                        <li class="nav-button__list">
                            <button type="button" class="nav-button__button">
                                UA</button
                            ><button type="button" class="nav-button__button">
                                RU
                            </button>
                        </li>
                        <li class="nav-button__list">
                            <button type="button" class="nav-button__button">
                                UAH</button
                            ><button type="button" class="nav-button__button">
                                USD
                            </button>
                        </li>
                    </ul>
                    <a class="nav-logo" href=""
                        ><img
                            class="nav-logo"
                            src="../pictures/svg/user-log.svg"
                            alt=""
                    /></a>
                </div>
            </div>
        </header>
        <main>
            <ul class="menu menu-chek">
                <li class="menu-item">
                    <a href="../index.html">Головна</a>
                </li>
                <li class="menu-item">
                    <a href="../components/catalog.html">Оформлення замовлення</a>
                </li>
            </ul>
            <div class="container check">
                <div class="check__tottal">
                    <h3 class="check__tottal-h3">Разом:</h3>
                    <p class="check__tottal-p">
                        20 товарів на суму
                        <span class="check__tottal-p-span">53087,10 грн</span>
                    </p>
                    <form class="check__tottal-form">
                        <label class="check__tottal-label">
                            <input
                                class="check__tottal-checkbox"
                                type="checkbox"
                                name="color"
                                value="agree"
                            />
                            <span class="check__tottal-span"></span>
                            Я згоден з умовами <a href="../components/contract.html">договору оферти</a>
                        </label>
                        <label class="check__tottal-label">
                            <input
                                class="check__tottal-checkbox"
                                type="checkbox"
                                name="color"
                                value="call"
                            />
                            <span class="check__tottal-span"></span>
                            Мені можна не телефонувати для підтвердення
                            замовлення
                        </label>
                    </form>
                    <div class="check__tottal-btn-wrap">
                        <button type="button" class="check__tottal-btn">
                            підтвердити замовлення
                        </button>
                    </div>
                </div>

                <div class="check__form">
                    <h3 class="check_form-h3">Ваші контактні дані</h3>
                    <div class="check_form-btn-wrap">
                        <button
                            class="check_form-btn-wrap-fst check_form-btn-activ"
                            type="button"
                        >
                            Я новий покупець
                        </button>
                        <button
                            class="check_form-btn-wrap-ts check_form-btn-trans"
                            type="button"
                        >
                            Я постійний клієнт
                        </button>
                    </div>
                    <!--<form class="check__forma">  -->
                    <label class="check__forma-label check__thakond-name">
                        Прізвище
                        <input
                            class="check__forma-input"
                            type="input"
                            name="color"
                        />
                    </label>
                    <label class="check__forma-label check__first-name">
                        Ім'я
                        <input
                            class="check__forma-input"
                            type="input"
                            name="color"
                        />
                    </label>
                    <label class="check__forma-label check__father-name">
                        По батькові
                        <input
                            class="check__forma-input"
                            type="input"
                            name="color"
                        />
                    </label>
                    <label class="check__forma-label check__phone-number">
                        Мобільний телефон
                        <input
                            class="check__forma-input"
                            type="input"
                            name="color"
                            value="+38"
                        />
                    </label>
                    <label class="check__forma-label check__phone-mail">
                        Електронна пошта
                        <input
                            class="check__forma-input"
                            type="input"
                            name="color"
                        />
                    </label>
                    <div class="check__forma-label-div check__pay">
                        <p class="check__forma-title">Оплата</p>
                        <div class="select__header">
                            <span class="check__forma__current"
                                >-Виберіть значення-</span
                            >
                            <img
                                class="check__forma-svg"
                                src="/pictures/svg/1.svg"
                            />
                        </div>
                        <div class="check__forma-select">
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                        </div>
                    </div>
                    <div class="check__forma-label-div check__phone-delive">
                        <p class="check__forma-title">Доставка</p>
                        <div class="select__header">
                            <span class="check__forma__current"
                                >-Виберіть значення-</span
                            >
                            <img
                                class="check__forma-svg"
                                src="/pictures/svg/1.svg"
                            />
                        </div>
                        <div class="check__forma-select">
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                        </div>
                    </div>
                    <label class="check__agree-label check__agree">
                        <input
                            class="check__agree-checkbox"
                            type="checkbox"
                            name="color"
                            value="call"
                        />
                        <span class="check__agree-span"></span>
                        Доставка за адресою
                    </label>
                    <div class="check__forma-label-div check__city">
                        <p class="check__forma-title check__lable-p">Місто</p>
                        <div class="select__header">
                            <span class="check__forma__current"
                                >-Виберіть значення-</span
                            >
                            <img
                                class="check__forma-svg"
                                src="/pictures/svg/1.svg"
                            />
                        </div>
                        <div class="check__forma-select">
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                        </div>
                    </div>
                    <div class="check__forma-label-div check__vilage">
                        <p class="check__forma-title check__lable-p">Вулиця</p>
                        <div class="select__header">
                            <span class="check__forma__current"
                                >-Виберіть значення-</span
                            >
                            <img
                                class="check__forma-svg"
                                src="/pictures/svg/1.svg"
                            />
                        </div>
                        <div class="check__forma-select">
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                        </div>
                    </div>

                    <div class="check__forma-label-div check__area">
                        <p class="check__forma-title check__lable-p">Область</p>
                        <div class="select__header">
                            <span class="check__forma__current"
                                >-Виберіть значення-</span
                            >
                            <img
                                class="check__forma-svg"
                                src="/pictures/svg/1.svg"
                            />
                        </div>
                        <div class="check__forma-select">
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                            <div class="check__forma-option"><p>Київ</p></div>
                        </div>
                    </div>

                    <div class="check__forma-wrap-hous chack-wraphous">
                        <label class="check__forma-label">
                            <p class="check__lable-p">Будинок</p>
                            <input
                                class="check__forma-input"
                                type="input"
                                name="number"
                            />
                        </label>
                        <label class="check__forma-label">
                            <p class="check__lable-p">Квартира</p>
                            <input
                                class="check__forma-input"
                                type="input"
                                name="appartment"
                            />
                        </label>
                    </div>

                    <label class="check__forma-label check-comments">
                        <p class="check__lable-p">Коментар</p>
                        <textarea
                            class="check__forma-textarea"
                            type="text"
                            name="coments"
                        ></textarea>
                    </label>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer">
                <div class="footer__up">
                    <div class="footer__grid">
                        <div class="footer__logo">
                            <img
                                src="../pictures/png/logo-footer.png"
                                alt="logo-second"
                                class="footer__logo--img"
                            />
                        </div>
                        <p class="footer__tittle">
                            Компанія “ПанСтакан“ пропонує Вашій увазі якісний
                            одноразовий паперовий посуд. Популярні сиропи і
                            топпінги. Дерев'яні і пластикові мішалки для кави і
                            чаю. Великий ассортимент оригінальноі кави.
                        </p>
                        <div class="footer__input">
                            <input
                                class="footer__search"
                                type="text"
                                placeholder="Your Email"
                            />
                            <button class="footer__button" type="submit">
                                Підписатися
                            </button>
                        </div>
                        <div class="footer__social">
                            <ul class="footer__social_ul">
                                <li>
                                    <a href=""
                                        ><img
                                            src="../pictures/png/instagram.png"
                                            alt=""
                                            class="footer__social--svg"
                                    /></a>
                                </li>
                                <li>
                                    <a href=""
                                        ><img
                                            src="../pictures/png/facebook.png"
                                            alt=""
                                            class="footer__social--svg"
                                    /></a>
                                </li>
                                <li>
                                    <a href=""
                                        ><img
                                            src="../pictures/png/twitter.png"
                                            alt=""
                                            class="footer__social--svg"
                                    /></a>
                                </li>
                                <li>
                                    <a href=""
                                        ><img
                                            src="../pictures/png/whatsapp.png"
                                            alt=""
                                            class="footer__social--svg"
                                    /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__down">
                    <div class="footer__down_grid1">
                        <h2 class="footer__name">
                            Надійний партнер для <br />
                            вашего кавового бізнесу
                        </h2>
                    </div>
                    <div class="credit-cart footer__down_grid2">
                        <div class="credit-cart__item">
                            <img
                                class="credit-cart__png"
                                src="../pictures/png/visa.png"
                                alt="visa"
                            />
                        </div>
                        <div class="credit-cart__item">
                            <img
                                class="credit-cart__png"
                                src="../pictures/png/mastercatt.png"
                                alt="mastercart"
                            />
                        </div>
                    </div>

                    <div class="footer__down_grid3">
                        <div>
                            <p class="footer__timeflow">
                                Пн-Пт з 09.00 до 17.00
                            </p>
                            <p class="footer__timeflow">Сб-Нд: Вихідний</p>
                        </div>
                    </div>
                    <div class="footer__down_grid4">
                        <ul>
                            <li>
                                <a class="footer__timeflow" href="tel:+380684772016" type="tel"
                                    >+38 (068) 477-20-16</a
                                >
                            </li>
                            <li>
                                <a class="footer__timeflow" href="tel:+380636313100" type="tel"
                                    >+38 (063) 631-31-00</a
                                >
                            </li>
                            <li>
                                <a
                                    class="footer__timeflow"
                                    href="mailto:horekavip@gmai.com"
                                    type="mailto"
                                    >horekavip@gmai.com</a
                                >
                            </li>
                            <li>
                                <a
                                    class="footer__timeflow"
                                    href="brand.panstakan@gmai.com"
                                    type="mailto"
                                    >brand.panstakan@gmai.com</a
                                >
                            </li>
                            <li>
                                <a
                                    class="footer__timeflow"
                                    href="mailto:opt.panstakan@gmail.com"
                                    type="mailto"
                                    >opt.panstakan@gmail.com</a
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="footer__down_grid5">
                        <ul>
                            <li>
                                <a class="footer__timeflow" href="../components/chek-list.htm">Доставка</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href="../components/price.html">Оплата</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href="">Блог</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href=""
                                    >Повернення</a
                                >
                            </li>
                            <li>
                                <a class="footer__timeflow" href="../components/contract.html"
                                    >Договір публічної оферти</a
                                >
                            </li>
                            <li>
                                <a class="footer__timeflow" href="../components/contacts.html">Контакти</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href="">Відгуки</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href="../components/contacts.html"
                                    >Карта проїзду</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__baner"></div>
            </div>
        </footer>
        <script src="/js/basket.js"></script>
        <script src="/js/burger.js"></script>
        <script src="/js/counters.js"></script>
        <script src="/js/chek-list.js"></script>
    </body>
</html>
