<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ПанСтакан</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Mulish&family=Open+Sans&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <link rel="stylesheet" href="../css/index.css" />
        <link rel="stylesheet" href="../css/header.css" />
        <link rel="stylesheet" href="../css/main.css" />

        <link rel="stylesheet" href="../css/counters.css" />
        <link rel="stylesheet" href="../css/footer.css" />
        <link rel="stylesheet" href="../css/contacts.css" />
    </head>
    <body>
        <header>
            <div class="header">
                <div class="header__top">
                    <div>
                        <a href="../index.html"
                            ><img
                                class="header__logo"
                                src="../pictures/png/logologo.png"
                                alt="logo"
                        /></a>
                    </div>
                    <div class="header__search">
                        <input class="header__input" type="text" />
                        <button class="header__search_button" type="button">
                            <img
                                class="header__search--s"
                                src="../pictures/svg/search.svg"
                                alt="search"
                            />
                        </button>
                    </div>
                    <div class="header__right">
                        <div class="header__mail header__contact">
                            <a href="mailto:brand.panstakan@gmail.com"
                                ><img
                                    class="header__mail--svg"
                                    src="../pictures/svg/mail.svg"
                                    alt="mail"
                            /></a>
                            <a
                                class="header__mail--flex"
                                href="mailto:brand.panstakan@gmail.com"
                                ><span class="header__mail--email"
                                    >E-mail:
                                </span>
                                <span class="header__mail--name"
                                    >brand.panstakan@gmail.com</span
                                ></a
                            >
                        </div>
                        <div class="header__favorite header__contact">
                            <a href=""
                                ><img
                                    class="header__favorite--svg"
                                    src="../pictures/svg/favorite.svg"
                                    alt="favorites"
                            /></a>
                        </div>
                        <div class="header__basket header__contact">
                            <a href="../components/basket.html">
                                <img
                                    class="header__basket--svg"
                                    src="../pictures/svg/basket.svg"
                                    alt="basket"
                                />
                                <span class="basket-counter">+</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header__nav">
                    <nav>
                        <!-- Бургер-иконка -->

                        <img
                            src="../pictures/svg/burger.svg"
                            alt=""
                            id="burger-icon"
                        />

                        <!-- Бургер-меню -->
                        <div id="burger-menu">
                            <ul class="header__link">
                                <li>
                                    <a
                                        class="header__link--title"
                                        href="../components/catalog.html"
                                        >Каталог</a
                                    >
                                </li>
                                <li>
                                    <a class="header__link--title" href="../components/category.html"
                                        >Акції</a
                                    >
                                </li>
                                <li>
                                    <a class="header__link--title" href=""
                                        >Про нас</a
                                    >
                                </li>
                                <li>
                                    <a class="header__link--title" href="../components/price.html"
                                        >Прайс</a
                                    >
                                </li>
                                <li>
                                    <a class="header__link--title" href="../components/contacts.html"
                                        >Контакти</a
                                    >
                                </li>
                            </ul>
                            <!-- Кнопка закрытия меню -->
                            <div id="close-btn">&times;</div>
                        </div>

                        <ul class="header__link" id="menu">
                            <li>
                                <a
                                    class="header__link--title"
                                    href="../components/catalog.html"
                                    >Каталог</a
                                >
                            </li>
                            <li>
                                <a class="header__link--title" href="../components/category.html">Акції</a>
                            </li>
                            <li>
                                <a class="header__link--title" href=""
                                    >Про нас</a
                                >
                            </li>
                            <li>
                                <a class="header__link--title" href="../components/price.html">Прайс</a>
                            </li>
                            <li>
                                <a class="header__link--title" href="../components/contacts.html"
                                    >Контакти</a
                                >
                            </li>
                        </ul>
                    </nav>

                    <ul class="header__options">
                        <li>
                            <select class="header__select">
                                2
                                <option value="">Мова</option>
                                3
                                <option value="1">Два</option>
                                4
                                <option value="2">Три</option>
                                5
                            </select>
                        </li>
                        <li>
                            <select class="header__select">
                                2
                                <option value="1">Валюта</option>
                                3
                                <option value="2">Два</option>
                                4
                                <option value="3">Три</option>
                                5
                            </select>
                        </li>
                        <li>
                            <select class="header__select">
                                2
                                <option value="">Профіль</option>
                                3
                                <option value="1">Два</option>
                                4
                                <option value="2">Три</option>
                                5
                            </select>
                        </li>
                    </ul>
                    <ul class="nav-button">
                        <li class="nav-button__list">
                            <button type="button" class="nav-button__button">
                                UA</button
                            ><button type="button" class="nav-button__button">
                                RU
                            </button>
                        </li>
                        <li class="nav-button__list">
                            <button type="button" class="nav-button__button">
                                UAH</button
                            ><button type="button" class="nav-button__button">
                                USD
                            </button>
                        </li>
                    </ul>
                    <a class="nav-logo" href=""
                        ><img
                            class="nav-logo"
                            src="../pictures/svg/user-log.svg"
                            alt=""
                    /></a>
                </div>
            </div>
        </header>
        <main>
            <section class="container">
                <div>
                    <div>
                        <ul class="menu">
                            <li class="menu-item">
                                <a href="../index.html">Головна</a>
                            </li>
                            <li class="menu-item">
                                <a href="../components/contacts.html">Контакти</a>
                            </li>
                        </ul>
                    </div>
                    <div><h2 class="contacts__name">Контакти</h2></div>
                    <div class="contacts">
                        <ul class="contacts__list">
                            <li class="contacts__item">
                                <img
                                    class="contacts__img"
                                    src="/pictures/svg/punkt.svg"
                                    alt=""
                                />
                                <p
                                    class="contacts__title contacts__title_adres"
                                >
                                    м. Київ, вул. Депутатська, 2 Метро
                                    Святошино, територія ринку
                                </p>
                            </li>
                            <li class="contacts__item">
                                <img
                                    class="contacts__img"
                                    src="/pictures/svg/phone.svg"
                                    alt=""
                                />
                                <div>
                                    <a
                                        class="contacts__title"
                                        href="tel:+380684772016"
                                        >+38 (068) 477-20-16</a
                                    >
                                    <a
                                        class="contacts__title"
                                        href="tel:+380636313100"
                                        >+38 (063) 631-31-00</a
                                    >
                                </div>
                            </li>
                            <li class="contacts__item">
                                <img
                                    class="contacts__img"
                                    src="/pictures/svg/mail-con.svg"
                                    alt=""
                                />
                                <div>
                                    <a
                                        class="contacts__title"
                                        href="mailto:horekavip@gmail.com"
                                        >horekavip@gmail.com</a
                                    >
                                    <a
                                        class="contacts__title"
                                        href="mailto:opt.panstakan@gmail.com"
                                        >opt.panstakan@gmail.com</a
                                    >
                                    <a
                                        class="contacts__title"
                                        href="mailto:brand.panstakan@gmail.com"
                                        >brand.panstakan@gmail.com</a
                                    >
                                </div>
                            </li>
                        </ul>
                        <ul class="contacts__list contacts__list_second">
                            <li class="contacts__item_second">
                                <p class="contacts__title--fix">
                                    Пошта для гуртових<br />
                                    пропозицій:
                                </p>
                                <a
                                    class="contacts__title"
                                    href="mailto:opt.panstakan@gmail.com"
                                    >opt.panstakan@gmail.com</a
                                >
                            </li>
                            <li class="contacts__item_second">
                                <p class="contacts__title--fix">
                                    Пошта по питанням<br />
                                    брендування продукції:
                                </p>
                                <a
                                    class="contacts__title"
                                    href="mailto:brand.panstakan@gmail.com"
                                    >brand.panstakan@gmail.com</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="contacts__img_block">
                        <a href=""
                            ><img
                                class="contacts__img"
                                src="/pictures/svg/facebook-con.svg"
                                alt="" /></a
                        ><a href=""
                            ><img
                                class="contacts__img"
                                src="/pictures/svg/instagram-con.svg"
                                alt="" /></a
                        ><a href=""
                            ><img
                                class="contacts__img"
                                src="/pictures/svg/youtube-con.svg"
                                alt="" /></a
                        ><a href=""
                            ><img
                                class="contacts__img"
                                src="/pictures/svg/phone-call-con.svg"
                                alt="" /></a
                        ><a href=""
                            ><img
                                class="contacts__img"
                                src="/pictures/svg/telegram-con.svg"
                                alt=""
                        /></a>
                    </div>
                    <div>
                        <iframe
                            class="contacts__maps"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1067.9452003937267!2d30.38400502948907!3d50.45942559708251!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ccf4cbafebeb%3A0x80ee388e8788d6a!2z0YPQuy4g0JTQtdC_0YPRgtCw0YLRgdC60LDRjywgMiwg0JrQuNC10LIsINCj0LrRgNCw0LjQvdCwLCAwMjAwMA!5e0!3m2!1sru!2sde!4v1702237861028!5m2!1sru!2sde"
                            width="600"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"
                        ></iframe>
                    </div>
                    <div class="contacts-form">
                        <h3 class="contacts_q contacts__title--fix">
                            Залишилися питання?
                        </h3>
                        <div class="contacts-form__input">
                            <div class="contacts-form__input_box">
                                <label class="contacts-form__title"
                                    >Ім'я
                                    <span class="contacts__title--fix"
                                        >*</span
                                    ></label
                                >
                                <input
                                    placeholder="Ім'я"
                                    class="contacts-form__input_item"
                                    type="text"
                                    name="name"
                                    required="required"
                                />
                            </div>
                            <div class="contacts-form__input_box">
                                <label class="contacts-form__title"
                                    >Мобільний телефон
                                    <span class="contacts__title--fix"
                                        >*</span
                                    ></label
                                >
                                <input
                                    placeholder="Мобільний телефон"
                                    class="contacts-form__input_item"
                                    type="text"
                                    name="name"
                                    required="required"
                                />
                            </div>
                            <div class="contacts-form__input_box">
                                <label class="contacts-form__title"
                                    >Електронна пошта
                                    <span class="contacts__title--fix"
                                        >*</span
                                    ></label
                                >
                                <input
                                    placeholder="Електронна пошта"
                                    class="contacts-form__input_item"
                                    type="email"
                                    name="email"
                                    required="required"
                                />
                            </div>
                        </div>
                        <div class="contacts-form__input_box contacts-form__input_box--fix">
                            <label class="contacts-form__title"
                                >Коментар
                                <span class="contacts__title--fix"
                                    >*</span
                                ></label
                            >
                            <textarea
                                placeholder="Коментар"
                                class="contacts-form__text"
                                minlength="15"
                                name="message"
                                required="required"
                            ></textarea>
                        </div>
                        <div class="contacts-form__btn_cont">
                            <input
                                class="contacts-form__btn"
                                type="submit"
                                name="submit-btn"
                                value="Відправити"
                            />
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="footer">
                <div class="footer__up">
                    <div class="footer__grid">
                        <div class="footer__logo">
                            <img
                                src="../pictures/png/logo-footer.png"
                                alt="logo-second"
                                class="footer__logo--img"
                            />
                        </div>
                        <p class="footer__tittle">
                            Компанія “ПанСтакан“ пропонує Вашій увазі якісний
                            одноразовий паперовий посуд. Популярні сиропи і
                            топпінги. Дерев'яні і пластикові мішалки для кави і
                            чаю. Великий ассортимент оригінальноі кави.
                        </p>
                        <div class="footer__input">
                            <input
                                class="footer__search"
                                type="text"
                                placeholder="Your Email"
                            />
                            <button class="footer__button" type="submit">
                                Підписатися
                            </button>
                        </div>
                        <div class="footer__social">
                            <ul class="footer__social_ul">
                                <li>
                                    <a href=""
                                        ><img
                                            src="../pictures/png/instagram.png"
                                            alt=""
                                            class="footer__social--svg"
                                    /></a>
                                </li>
                                <li>
                                    <a href=""
                                        ><img
                                            src="../pictures/png/facebook.png"
                                            alt=""
                                            class="footer__social--svg"
                                    /></a>
                                </li>
                                <li>
                                    <a href=""
                                        ><img
                                            src="../pictures/png/twitter.png"
                                            alt=""
                                            class="footer__social--svg"
                                    /></a>
                                </li>
                                <li>
                                    <a href=""
                                        ><img
                                            src="../pictures/png/whatsapp.png"
                                            alt=""
                                            class="footer__social--svg"
                                    /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer__down">
                    <div class="footer__down_grid1">
                        <h2 class="footer__name">
                            Надійний партнер для <br />
                            вашего кавового бізнесу
                        </h2>
                    </div>
                    <div class="credit-cart footer__down_grid2">
                        <div class="credit-cart__item">
                            <img
                                class="credit-cart__png"
                                src="../pictures/png/visa.png"
                                alt="visa"
                            />
                        </div>
                        <div class="credit-cart__item">
                            <img
                                class="credit-cart__png"
                                src="../pictures/png/mastercatt.png"
                                alt="mastercart"
                            />
                        </div>
                    </div>

                    <div class="footer__down_grid3">
                        <div>
                            <p class="footer__timeflow">
                                Пн-Пт з 09.00 до 17.00
                            </p>
                            <p class="footer__timeflow">Сб-Нд: Вихідний</p>
                        </div>
                    </div>
                    <div class="footer__down_grid4">
                        <ul>
                            <li>
                                <a class="footer__timeflow" href="tel:+380684772016" type="tel"
                                    >+38 (068) 477-20-16</a
                                >
                            </li>
                            <li>
                                <a class="footer__timeflow" href="tel:+380636313100" type="tel"
                                    >+38 (063) 631-31-00</a
                                >
                            </li>
                            <li>
                                <a
                                    class="footer__timeflow"
                                    href="mailto:horekavip@gmai.com"
                                    type="mailto"
                                    >horekavip@gmai.com</a
                                >
                            </li>
                            <li>
                                <a
                                    class="footer__timeflow"
                                    href="brand.panstakan@gmai.com"
                                    type="mailto"
                                    >brand.panstakan@gmai.com</a
                                >
                            </li>
                            <li>
                                <a
                                    class="footer__timeflow"
                                    href="mailto:opt.panstakan@gmail.com"
                                    type="mailto"
                                    >opt.panstakan@gmail.com</a
                                >
                            </li>
                        </ul>
                    </div>

                    <div class="footer__down_grid5">
                        <ul>
                            <li>
                                <a class="footer__timeflow" href="../components/chek-list.htm">Доставка</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href="../components/price.html">Оплата</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href="">Блог</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href=""
                                    >Повернення</a
                                >
                            </li>
                            <li>
                                <a class="footer__timeflow" href="../components/contract.html"
                                    >Договір публічної оферти</a
                                >
                            </li>
                            <li>
                                <a class="footer__timeflow" href="../components/contacts.html">Контакти</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href="">Відгуки</a>
                            </li>
                            <li>
                                <a class="footer__timeflow" href="../components/contacts.html"
                                    >Карта проїзду</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__baner"></div>
            </div>
        </footer>

        <script src="/js/basket.js"></script>
        <script src="/js/burger.js"></script>
        <!-- <script src="/js/counters.js"></script> -->

        <script src="/js/basket-delete.js"></script>
    </body>
</html>
