<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ПанСтакан</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Mulish&family=Open+Sans&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <link rel="stylesheet" href="../css/index.css" />
        <link rel="stylesheet" href="../css/rating-star.css" />
      

        <link rel="stylesheet" href="../css/modal-cart.css" />
    </head>
    <body>
        <main>
            <button class="trigger">11111111</button>
            <div class="modalBackground">
                <div class="modalActive">
                    <div class="modalClose">
                        <div>X</div>
                    </div>
                    <div class="modalWindow">
                        <article class="card-item">
                <h2 class="card-item__title">
                    Стакан паперовий для кави гофра-хвиля бурий 400мл 15 шт/уп
                    ø91
                </h2>
                <div class="card-item__container">
                    <div class="rating-area rating-area___title">
                        <input type="radio" name="rating" value="5" />
                        <label for="star-5" title="Оценка «5»"></label>
                        <input type="radio" name="rating" value="4" />
                        <label for="star-4" title="Оценка «4»"></label>
                        <input type="radio" name="rating" value="3" />
                        <label for="star-3" title="Оценка «3»"></label>
                        <input type="radio" name="rating" value="2" />
                        <label for="star-2" title="Оценка «2»"></label>
                        <input type="radio" name="rating" value="1" />
                        <label for="star-1" title="Оценка «1»"></label>
                    </div>

                    <p class="card-item__articul">
                        Артикул: <span>44544</span>
                    </p>
                </div>
                <picture class="card-item__img">
                    <source
                        srcset="/pictures/jpg/img_resize.jpg"
                        media="(min-width: 1040px)"
                    />
                    <source
                        srcset="/pictures/png/imgtabl.png"
                        media="(min-width: 767px)"
                    />
                    <source
                        srcset="/pictures/png/img.png"
                        media="(max-width: 767px)"
                    />
                    <img src="/pictures/jpg/img_resize.jpg" alt="cartoon" />
                </picture>

                <div class="card-item__vrap-btn">
                    <button class="card-item__btn">
                        <img
                            class="card-item__btn-svg"
                            src="/pictures/svg/ok.svg"
                            alt=""
                            srcset=""
                        />В наявності
                    </button>
                    <button class="card-item__btn">
                        <div class="heart">
                            <i
                                class="fa fa-heart-o card-item__btn-svg"
                                aria-hidden="true"
                            ></i>
                        </div>
                        Додати до обраного
                    </button>
                </div>

                <table class="card-item__table">
                    <tbody>
                        <tr>
                            <td class="card-item__table-tr">15 шт.уп</td>
                            <td class="card-item__table-tr">16 шт.уп</td>
                        </tr>
                        <tr>
                            <td class="card-item__table-tr">17 шт.уп</td>
                            <td class="card-item__table-tr">18 шт.уп</td>
                        </tr>
                    </tbody>
                </table>

                <div class="wrap_info">
                    <!--<div  class="count" >-->
                    <div class="count">
                        <p class="count_p">55.12 uhy</p>
                        <p class="count_p">55.12 uhy</p>
                        <p class="count_p-bold">55.12 uhy</p>
                    </div>
                    <div class="card-item__plusminus help_info">
                        <button class="card-item__plusminus_btn" type="button">
                            +
                        </button>
                        <div class="card-item__plusminus_p">1</div>
                        <button class="card-item__plusminus_btn" type="button">
                            -
                        </button>
                    </div>
                    <div class="card-btn__div">
                        <button class="card-btn__orange" type="button">
                            Купити
                        </button>
                        <button class="card-btn" type="button">
                            Замовити дзвінок
                        </button>
                    </div>
                </div>
            </article>
                    </div>
                </div>
            </div>
        </main>

     
        <script src="../js/modal-cart.js"></script>
    </body>
</html>
